<mat-toolbar color="warn">
    <span>
        <a routerLink="" mat-button>
            <mat-icon> library_books </mat-icon> PRENSA GRAFICA
        </a>
    </span>

    <div>
        <a mat-button routerLink="articulos/buscar">
            <mat-icon>search</mat-icon>
            Buscar Articulo
        </a>
    </div>


    <app-autorizado [rol]="'admin'">
        <ng-container autorizado>
            <div>
                <a mat-button routerLink="categorias">
                    <mat-icon>category</mat-icon>Categorías</a>
            </div>

            <div>
                <a mat-button routerLink="podCast">
                    <mat-icon>podcasts</mat-icon>PodCast</a>
            </div>

            <div>
                <a mat-button routerLink="edipreD">
                    <mat-icon>plagiarism</mat-icon>Edición Impresa Digital</a>
            </div>

            <div>
                <a mat-button routerLink="articulos">
                    <mat-icon>add</mat-icon>Crear Artículos</a>
            </div>

            <div>
                <a mat-button routerLink="usuarios">
                    <mat-icon>group_add</mat-icon>Usuarios</a>
            </div>
        </ng-container>
    </app-autorizado>

    <div class="espacio"> </div>

    <app-autorizado>
        <ng-container autorizado>
            <span><mat-icon>account_circle</mat-icon>{{seguridadService.obtenerCampoJWT('email')}}</span>
            <a mat-button (click)="seguridadService.logout()">
                <mat-icon>logout</mat-icon>Logout</a>
        </ng-container>

        <ng-container noAutorizado>
            <a mat-button routerLink="login">Login</a>
            <a mat-button routerLink="registro">Registro</a>
        </ng-container>
    </app-autorizado>




</mat-toolbar>