<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon> library_books </mat-icon> PRENSA GRAFICA
        </a>
    </span>

    <div>
        <a mat-button routerLink="articulos/buscar">
            <mat-icon>search</mat-icon>
            Buscar Articulo
        </a>
    </div>

    <app-autorizado [rol]="'admin'">
        <ng-container autorizado>
            <div>
                <a mat-button routerLink="categorias">Categorías</a>
            </div>

            <div>
                <a mat-button routerLink="podCast">PodCast</a>
            </div>

            <div>
                <a mat-button routerLink="edipreD">Edición Impresa Digital</a>
            </div>

            <div>
                <a mat-button routerLink="articulos">Crear Artículos</a>
            </div>
        </ng-container>
    </app-autorizado>



</mat-toolbar>