<app-listado-generico [listado]="articulos">

    <ng-container contenido>

        <div class="articulos-contenedor">

            <div *ngFor="let articulo of articulos; let index = index" class="articulo-contenedor">
                <a [routerLink]="'/articulos/' + articulo.id">
                    <img [src]="articulo.poster" alt="Poster" />
                </a>
                <p>
                    <a [routerLink]="'/articulos/' + articulo.id">{{articulo.titulo}}</a>
                </p>
                <div>
                    <a mat-flat-button color="primary" [routerLink]="'/articulos/editar/' + articulo.id">
                    Editar
                </a>
                    <button mat-flat-button color="warn" type="button" [swal]="{title: 'Confirmación',
                    text: '¿Está seguro que desea borrar el registro?',
                showCancelButton: true}" (confirm)="borrar( articulo.id)">
                    Borrar
                </button>
                </div>
            </div>

        </div>

    </ng-container>
</app-listado-generico>